<!-- login.component.html -->
<div class="split-container">
  <!-- 登入面板 -->
  <div class="login-panel">
    <form class="login-container" #myForm="ngForm" (ngSubmit)="onSubmit()">
      <p>歡迎登入:</p>

      <mat-form-field appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput placeholder="輸入你的 Email" [(ngModel)]="formData.email" name="email" required>
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input matInput placeholder="輸入你的密碼" [(ngModel)]="formData.password" name="password" required>
      </mat-form-field>

      <br>

      <button mat-raised-button color="primary" type="submit">登入</button>
      <button mat-raised-button color="primary" type="button" (click)="resetForm(myForm)">取消</button>
    </form>
  </div>

  <!-- 註冊面板 -->
  <div class="register-panel">
    <app-register></app-register>
  </div>
</div>


