<!--<app-register></app-register>-->
<!--<br>-->
<!--<br>-->
<!--<app-login></app-login>-->
<!--<br>-->
<!--<br>-->
<!--<app-product></app-product>-->
<!--<br>-->
<!--<br>-->
<!--<app-order></app-order>-->


<!--<router-outlet></router-outlet>-->


<nav>
  <a routerLink="/products">商品列表</a> |
  <a routerLink="/cart">購物車</a> |
  <ng-container *ngIf="currentUserId">
    <a [routerLink]="['/orders', currentUserId]">我的訂單</a> |
  </ng-container>
  <a routerLink (click)="logout()">登出</a>
</nav>
<router-outlet></router-outlet>


